<h1>Welcome to NextLog!</h1>
<p>
  You've just subscribed to NextLog newsletter with this email:
  <strong>
    <%= email %>
  </strong>.
</p>
<p>
  You can unsubscribe at any time by clicking on the link below the future
  emails you'll receive.
</p>
<p>See you soon!</p>
